.search-container {
    display: flex;
    justify-content: center;
    margin: 20px;
  }
  
  .search-container input {
    width: 400px !important;
    padding: 10px;
    font-size: 16px;
    border: 2px solid #450202 !important;
    border-radius: 20px !important;
    margin-right: 10px !important;
  }
  
  .search-container button {
    padding: 10px 15px;
    font-size: 16px;
    border: none;
    border-radius: 50%;
    background-color: #111920;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .search-container button:hover {
    background-color: #666666;
  }
  